.profileCont {
    max-width: 70% !important;
    height: 100%;
    padding: 0 !important;
}

.profileInfoCont {
    max-width: 100% !important;
    height: 100% !important;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0rem;
}

.icon {
    background-color: yellow;
    height: 10rem;
    max-width: 10rem !important;
    border-radius: 50%;
}

.username {
    font-size: 3rem;
    font-weight: 400;
}

.email {
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}